// Input Text
%formStyle {
  background-color: $white-color;
  border: 0;
  border-bottom: 1px solid rgba($black-color,.2);
  border-radius: 0;
  box-shadow: none;
  color: $black-color;
  line-height: 1;
  padding: 1.1rem 0;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  @media only screen and (max-width: $small) {
    padding: .8rem 0;
  }
}

%formStyle-focus {
  border-bottom: 1px solid $black-color;
  box-shadow: none;
  outline: none;
}

.inputText {
  @extend %formStyle;
  
  &:focus {
    @extend %formStyle-focus;
  }
  
  &--fill {
    background-color: rgba($white-color, .08);
    color: $white-color;
    border: 0;
  	line-height: 1.9;
    outline: none;
    padding: 1rem 1.5rem;
    transition: width .3s cubic-bezier(.72,.16,.345,.875);
  
    &:focus {
      color: $white-color;
    }
  }
}

.textarea {
  @extend %formStyle;
  display: block;
  line-height: 1.4;
  max-height: 6rem;
  resize: none;
  
  &:focus {
    @extend %formStyle-focus;
  }
}

.form-group {
  margin-bottom: 2.8rem;
  position: relative;
  
  @media only screen and (max-width: $small) {
    margin-bottom: 2rem;
  }
}

.help-block {
  font-size: .75rem;
  line-height: 1.4;
  padding-top: .8rem;
  @include position(absolute, $bottom: -1.8rem);

  @media only screen and (max-width: $small) {
    padding-top: .5rem;
    bottom: -1.5rem
  }
}

.with-errors .list-unstyled {
  color: $red-color;
  margin-bottom: 0;
}

.has-error input,
.has-error textarea,
.has-error input:focus,
.has-error textarea:focus {
  border-color: $red-color;
}

#validator-contact {
  font-size: .89rem;
  //margin-top: 2rem;
   
  @media only screen and (max-width: $medium) {
    padding-top: 1rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $white-color!important;
}

.label {
  color: $gray-dark-color;
  display: block;
  font-weight: $weight-400;
  line-height: 1.35;
  transform: translateY(50%);
  transition: all .25s ease-in-out;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  
  @media only screen and (max-width: $large-xl) {
    
  }
  
  .is-completed & {
    transform: translateY(-80%);
    font-size: .86rem;
  
    @media only screen and (max-width: $large-xl) {
      transform: translateY(-70%);
    }
	
    @media only screen and (max-width: $small) {
      transform: translateY(-50%);
    }	
  }  
}