/* -----------------------------------------------------------------
    - General Styles
----------------------------------------------------------------- */

// Fonts
$font-body: 'Roboto', sans-serif;
$font-title: 'Roboto', sans-serif;

// Weight
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-x: hidden;
}

body, html {
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  
  @media only screen and (max-width: $small) {
    //font-size: 14px;
  }
}

body {
  background-color: $white-color;
  color: $black-color;
  font-family: $font-body;
  font-weight: $weight-400;
  line-height: 2;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  
  @media only screen and (max-width: $small) {
    line-height: 1.8;
  }
}

html.is-scroll-disabled body {
  height: 100vh;
  overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html.is-scroll-disabled {
    overflow: hidden;
  }
}

.no-scroll {
  overflow: hidden;
  -ms-overflow-style: none;
}

.no-scroll-h {
  overflow-x: hidden;
}