/* -----------------------------------------------------------------
    - Preloader
----------------------------------------------------------------- */

.preloader {
  @include display(flex);
  @include align-items(center);
  justify-content: center;
  background-color: $black-color;
  @include position(fixed, $top: 0, $left: 0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 1100;
  opacity: 1;

  &__wrap {
    width: 100%;
    max-width: 140px;
    
    @media only screen and (max-width: $small) {
      max-width: 110px;
    }
  }
  
  &__logo {
    opacity: 0;
	  filter: blur(30px);
	  //transform: scale(1.5);
    width: 100%;
    max-width: 140px;
    animation: blur-logo 1.5s ease-in-out;

    @media only screen and (max-width: $small) {
      max-width: 110px;
    }
  }

  &__progress {
    background: rgba($white-color,.1);
    height: 1px;
    position: relative;
	  margin-top: 1.2rem;
	  overflow: hidden;
	  width: 100%;
	
	  span {
	    background: rgba($white-color,1);
	    @include position(absolute, $top: 0, $left: 0);
	    height: 100%;
	    width: 0;
    }
    
    @media only screen and (max-width: $small) {
      margin-top: .8rem;
    }
  }

  &.fadeOut2 {
    pointer-events: none;
	  opacity: 0;
	
	  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	    visibility: hidden;
	  }  
  }
}

@keyframes blur-logo {
  0% {
    filter: blur(30px);
	  opacity: 0;
	  transform: scale(1.5)
  }
  100% {
    filter: blur(0);
	  opacity: 1;
	  transform: scale(1)
  }
}