.table-responsive .dataTables_wrapper#DataTables_Table_0_wrapper .dt-buttons {
    display: none;
}

.language-tabs .nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    width: 100px;
    text-align: center;
}

.card-footer .remove-content {
    font-size: 1.5rem;
    z-index: 100;
    cursor: pointer;
}

.content-body .card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.slide-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.slide-preview img {
    width: 300px;
    padding-bottom: 1rem;
}

